<div>
    <img src="" title="">
    <div>
        <div>
            <span>Name</span>
        </div>
        <div>
            <span>Username</span>
        </div>
        <div>
            <span>Location</span>
        </div>
        <div>
            <span>tweets</span>
        </div>
        <div>
            <span>followings</span>
        </div>
        <div>
            <span>followers</span>
        </div>
        <div>
            <span>likes</span>
        </div>
        <div>
            <span>description</span>
        </div>

        <div>
            <span>created</span>
        </div>

    </div>

</div>